// default margin size
$gap-size: 10px;
// the height of header
$header-height: 64px;
// the height of footer
$footer-height: 44px;
$page-toolbar-height: 76px;
$content-width: 1110px;

html {
    font-size: 62.5%;
}

html,body,#root {
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    padding: 0;
    height: 100%;
    div{
        min-height: 0;
    }
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-size: 16px;
  min-height: 100vh;
  max-width: 100vw;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

* {
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    height: 100%;
    margin: 0;

    .root-menu-container{

        width: 7.5rem;
        position: relative;
        height: 100%;
        z-index: 101;

        .root-menu {
            height: 100%;
            position: relative;
            z-index: 2;
        }

        .nano {
            position: relative;
            width: 100%;
            overflow: hidden;
            .nano-content {
                position: absolute;
                overflow: scroll;
                overflow-x: hidden;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }

        .nano-content {
            display: flex;
            flex-direction: column;
        }
        .menu-bar {

            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            border-right: 1px solid #f1f1f1;

            &:before {
                content: ' ';
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: .3;
                transform: translate3d(0,0,0);
            }

            .menu-bar-inner {
                position: absolute;
                top: 260px;
                bottom: 130px;
                height: auto;
            }

            .menu-opts{
                overflow-y: hidden;
                display: flex;
                flex-direction: column;
                margin-left: 0;
                margin-bottom: 0;
                list-style: none;
            }

            .menu-opts__header-spacer{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                color: white;
                text-align: center;
                width: 7.5rem;
                min-width: 7.5rem;
                height: 65px;
                min-height: 65px;
                line-height: 65px;
                position: fixed;
                top: 0;
                left: 0;
                background-color: #753a88;
                cursor: default;
                &:after{
                    content: '';
                    display: block;
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: -1px;
                    background-color: #753a88;
                }
            }
            .logo-icon{
                width: 18px;
                height: auto;
                color: rgba(255,255,255,.5);
                fill: currentColor;
            }
            .menu-opt{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                color: white;
                text-align: center;
                width: 7.5rem;
                min-width: 7.5rem;
                height: 65px;
                min-height: 65px;
                line-height: 65px;
                position: fixed;
                left: 0;
                color: #ed1965;

                &.opt-all{
                    top: 65px;
                }
                &.opt-search{
                    top: 130px;
                }
                &.opt-query{
                    top: 195px;
                }
                &.opt-pinner{
                    bottom: 0;
                }
                &.opt-plus{
                    bottom: 65px;
                }
            }

            .menu-opt-collection{
                height: 100%;

                .menu-opt-collection-list {
                    height: 100%;
                    margin: 0;
                    list-style: none;

                }
            }
            .menu-opt__container{
                width: 100%;
                height: 100%;
                

                .menu-opt__badge-wrapper{

                    display: block;
                }

                .menu-opt__badge{
                    box-sizing: border-box;
                    position: absolute;
                    top: 38%;
                    left: 63%;
                    transform: translateX(-50%) translateY(-50%);
                    display: block;
                    width: 1.4rem;
                    height: 1.4rem;
                    border: 2px solid white;
                    border-radius: 100%;
                    color: transparent;
                    z-index: 3;
                    visibility: hidden;
                    transform: translateX(-100%) translateY(-50%);
                    background-color: transparent;
                    
                    transition: visibility 0s ease .2s,transform .2s cubic-bezier(1,2.5,.5,.76),background-color .2s ease,border-color .2s ease;
                    
                    &.has-mentions{
                        visibility: visible;
                        transition-delay: 0s;
                        transform: translateX(-50%) translateY(-50%);
                        background-color: #f68d42;
                        border-color: white;
                       
                        &.paulse-animation{
                            animation-name: unread-indicator-subtle-pulse-animation;
                            animation-duration: 2s;
                            animation-timing-function: ease;
                        }   
                    }
                }

                &.active > .menu-opt__button:before{
                    transform: translateX(0);
                }
                &.active > .menu-opt__button{
                    opacity: 1;
                }
                .menu-opt__button{
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    opacity: .45;
                    background-color: transparent;
                    border: 0;
                    transition: opacity .1s ease-in;
                    color: inherit;
                    text-decoration: none;
                    font-size: 0;
                    line-height: 0;
                    text-align: center;
                    outline: none;
                    &:before{
                        content: ' ';
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: .5rem;
                        transform: translateX(-100%);
                        transition: transform .2s linear;
                        background-color: currentColor;
                    }
                }
            }
        }
        .menu-panel{
            width: 34rem;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-left: 100%;
            border-right: 1px solid #f1f1f1;
            background-color: #fdfdfd;
            transform: translateX(-100%);
            transition: transform .1s linear .05s;

            &.active{
                transform: translateX(0);
            }

            .header-brand {
                position: relative;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                height: 6.5rem;
                background-color: #753a88;
                padding-left: 2.5rem;

                &:after{
                    content: '';
                    display: block;
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: -1px;
                    background-color: #753a88;
                }

                .header-brand-logo {
                    width: 7rem;
                    height: auto;
                    opacity: .5;
                }
            }

            .panel-header {
                position: relative;
                min-height: 6.5rem;
                overflow: hidden;
                text-align: left;

                .panel-header__container{
                    height: 65px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 1.3rem;
                    margin-bottom: 0;
                    transform: translateY(-100%);
                    opacity: 0;
                    transition: transform .2s ease-in-out,opacity .2s ease-out;
                    box-sizing: border-box;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    align-items: center;
                    transition: background-color .2s ease;

                    &.active{
                        opacity: 1;
                        transform: translateY(0);
                    }

                    .panel-header__title{
                        text-rendering: optimizeLegibility;
                        box-sizing: border-box;
                        max-width: 90%;
                        margin: 0;
                        overflow: hidden;
                        font-weight: 400;
                        font-size: 1.5rem;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        text-transform: uppercase;
                        padding: 0 0 0 2.6rem;
                        line-height: 65px;
                        color: #a2a3a3;
                    }
                }
            }
        }
    }

    .page-layout{
        position: absolute;
        right: 0;
        height: 100%;
        width: 100%;
        transition: width .1s ease-in;
        width: calc(100% - 7.5rem);

        &.root-menu-pinned{
           
            width: calc(100% - 34rem);
        }

        .page-header-wrapper{
            box-sizing: border-box;
            position: absolute;
            display: flex;
            width: 100%;
            padding-left: 2.6rem;
            background-image: linear-gradient(to left,#cc2b5e,#753a88);
            border-bottom: 1px solid rgba(0,0,0,.05);
            z-index: 200;

            .page-header{
                flex: 1;
                display: flex;
                align-items: flex-start;
                width: 100%;
                max-width: 100%;
            }
        }

        .page-header-group{
            display: flex;
            align-items: center;
            height: 64px;

            &.avatar-group{
                flex-shrink: 0;
                padding-right: 18px;
            }

            &.info-group{
                display: flex;
                align-items: center;
                height: 64px;
                overflow: hidden;
                flex: 1;
                flex-wrap: wrap;
                align-items: flex-start;
                height: auto;
                max-height: 64px;
                transition: max-height .3s ease;
            }

            &.actions-group{
                align-items: stretch;
            }

            .avatar-label{
                display: block;
                margin-bottom: 0;
                cursor: pointer;
                box-sizing: border-box;
                width: 38px;
                height: 38px;
                overflow: hidden;
                background-color: white;
                border-radius: 4px;
                padding: .3rem;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                }

            }

            .info-sub-heading{
                flex-shrink: 0;
                display: flex;
                align-items: center;
                .info-heading{
                    box-sizing: border-box;
                    max-width: 100%;
                    margin-top: 12px;
                    margin-bottom: 0;
                    padding-right: 2rem;
                    white-space: nowrap;
                    a {
                        overflow: hidden;
                        display: inline-block;
                        max-width: 100%;
                        color: white;
                        font-size: 24px;
                        line-height: 40px;
                        font-weight: 300;
                        text-overflow: ellipsis;
                    }
                }
            }

            .info-sub-topic{
                overflow: hidden;
                position: relative;
                flex-basis: 30rem;
                flex-grow: 1;

                .topic-wrapper{
                    box-sizing: border-box;
                    display: flex;
                    max-width: 100%;
                    padding-right: 2em;
                    color: rgba(255,255,255,0);
                    white-space: nowrap;
                    transition: color .2s ease;

                    .info-topic{
                        box-sizing: border-box;
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: baseline;
                        max-height: 25px;
                        margin: 0;
                        padding-right: .25rem;
                        color: white;
                        opacity: .8;
                        font-size: 1em;
                        line-height: 25px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        transition: max-height .3s ease-in-out;
                        &:not(:empty) {
                            margin-top: calc(12px + 8px + 24px - 25px + .125em);
                            margin-bottom: calc((12px + 8px + 24px - 25px + .125em)/2);
                        }

                        a {
                            color: white;
                        }
                    }
                }
            }

            .header-action{
                display: inline-block;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 2px;
                padding: 0;
                background-color: transparent;
                border: none;
                font-size: 26px;
                line-height: 1;
                color: white;
                text-align: center;
                cursor: pointer;
                transition: background-color .2s ease-in-out,color .2s ease-in-out;
                outline: none;
                i {
                    color: inherit;
                    transition: background-color .2s ease,border-color .2s ease,color .2s ease;
                    border-width: 4px 6px;
                    border-style: solid;
                    border-color: transparent;
                    border-radius: 3px;
                }
            }

            .header-profile{
                box-sizing: border-box;
                display: inline-block;
                position: relative;
                padding-left: 19px;
                padding-top: 17px;
                margin-left: 6px;
                margin-right: 12px;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    height: 4.3rem;
                    border-right: 1px solid rgba(0,0,0,.1);
                    transform: translateY(-50%);
                }

                .profile-avatar{
                    width: 30px;
                    min-width: 30px;
                    height: auto;
                    margin-right: 9px;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }

        .page-content-wrapper{

            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            align-items: stretch;
            height: 100%;
            padding-top: 64px;

            .page-right-menu{
                box-sizing: border-box;
                position: relative;
                top: 0;
                bottom: 0;
                right: 0;
                order: 2;
                flex-shrink: 0;
                display: flex;
                color: #333;
                text-align: left;

                .right-menu{
                    display: flex;
                    flex-direction: column;
                    user-select: none;
                    position: relative;
                    color: #333;
                    flex-shrink: 0;
                    order: 2;
                    width: 300px;
                    text-align: left;
                    vertical-align: top;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: #fdfdfd;
                    border-left: 1px solid #f1f1f1;
                    transition: width 200ms ease-in-out;

                    .menu-body{
                        overflow-x: hidden;
                        overflow-y: auto;
                        flex: 1;
                        padding-top: 10px;
                    }
                    .menu-footer{
                        box-sizing: border-box;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 70px;
                        padding-top: 21px;
                        padding-right: 21px;
                        background: linear-gradient(to bottom,rgba(255,255,255,0),#fdfdfd 35%);
                        text-align: right;

                        .toggle-icon{
                            display: inline-block;
                            vertical-align: middle;
                            margin: auto;
                            fill: none;
                            stroke: #8d8d8d;
                            stroke-width: 2;
                            cursor: pointer;
                            transition: transform .2s ease;
                        }
                    }
                }
            }

            .page-content{
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                flex: 1;
                display: flex;
                flex-direction: column;
                height: 100%;

                .content-footer{
                    position: relative;
                    box-sizing: border-box;
                    background-color: #fdfdfd;
                    min-height: 70px;
                    flex-shrink: 0;
                    border-top: 1px solid rgba(0,0,0,.05);
                }

                .content-body{
                    position: relative;
                    background-color: #fdfdfd;
                    width: 100%;
                    flex-shrink: 1;
                    flex-grow: 1;
                }
            }
        }
    }
}

.hidden {
    display: none!important;
}

.clearfix:before, .clearfix:after{
    display: table;
    content: " ";
}

.clearfix:after{
    clear: both;
}

button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}

button, input {
    overflow: visible;
    line-height: normal;
}

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

a {
  color: #ff4081;
  text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 370px;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

ul, ol {
    margin-top: 0;
    margin-bottom: .6;
}

ul {
    list-style: disc;
}

ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

p {
    margin-bottom: 1.3em;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.424em;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 600;
    line-height: 1.2;
}